<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sparkpost Email Integration Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui huge header">
      Sparkpost email with Express
    </div>

    <form class="ui form">
      <div class="field">
        <label>Send To</label>
        <input type="email" name="first-name" placeholder="Send To">
      </div>
      <div class="field">
        <label>Subject</label>
        <input type="text" name="subject" placeholder="Subject">
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>

  </body>
</html>
